.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}


@media (max-width: 600px) {
    .container {
        overflow-x: scroll;
    }
}